* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #444;
  background-color: #f3f3f3;
}

section {
  padding: 4rem;
}

h1 {
  text-align: center;
  font-size: 6rem;
  padding: 2rem;
  margin-bottom: 4rem;
}

a:link,
a:visited {
  display: inline-block;
  background-color: rgb(238, 176, 118);
  padding: 2rem;
  text-decoration: none;
  color: green;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 10rem;
  transition: all 0.3s;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
}

a:hover,
a:active {
  color: rgb(0, 0, 0);
  box-shadow: 0 1rem 0.8rem rgba(0, 0, 0, 0.2);
}
